<h1>Showing User</h1>
<table>
  <span><strong><%= @user.name %></strong></span>
  (<%= @user.username %>)
  (<%= @user.id %>)
</table>

<div>
  <td>
    <span><%= link "See all the tasks", to: Routes.task_path(@conn, :index) %></span>
    <span> | </span>
    <span><%= link "Add a new task", to: Routes.task_path(@conn, :new) %></span>
  </td>
</div>

<span><%= link "Back", to: Routes.user_path(@conn, :index) %></span>
